.env
*.env
.env.*
.env*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.env
.venv/
env/
venv/
pip-log.txt
*.log

# Editor
.vscode/
.idea/
*.swp

# System
.DS_Store
Thumbs.db

# Docker
*.tar
*.bak
*.backup
docker-compose.override.yml

# Kubernetes / Helm / YAML overrides
*.yaml~
*.yml~
*.tmp

# Build
*.egg-info/
dist/
build/
*.zip

# Logs
logs/
*.log
nohup.out

# Node (caso use frontend depois)
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Terraform
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
terraform.tfstate.backup